.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio__item:hover {
  transform: scale(1.01);
  border-color: var(--color-primary-variant);
  cursor: default;
  box-shadow: 18px 18px 20px #1f1f4c, -18px -18px 20px #39398c;
}
.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVCES) ================= */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .portfolio__item:hover{
    transform: scale(1.008);
    box-shadow: none;
}
.portfolio__item{
  margin-bottom: 25px;
}
}

/* =========== MEDIA QUERIES (SMALL DEVCES) ================= */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
