header{
    height: 1000px;
    padding: 4rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
.bulut{
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    position: fixed;
}
/* ============ CTA ================ */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/* ============ HEADER SOCIALS ============= */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left: 0;
    bottom: 2rem;
    font-size: 1.3rem;
}
.header__socials::after{
    content: '';
    width: 1px;
    height: 5rem;
    background: var(--color-primary);
}

/* =============== ME ==================== */
.me{
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
}
.meImg{
    mask-image: linear-gradient(var(--color-primary), transparent);
    object-fit: cover;
    border-radius: 60px 60px 0 0;
}
/* ========== SCROLL DOWN ========== */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 7rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;
}
/* =========== MEDIA QUERIES (MEDIUM DEVCES) ================= */
@media screen and (max-width: 1024px) {
    header{
        /* height: 135vh; */
    }
    .header__socials, .scroll__down {
        margin: 0 -4rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVCES) ================= */
@media screen and (max-width: 768px) {
    header{
        height: 900px;
    }
    .header__socials, .scroll__down {
        display: none;
    }
    .meImg{
      width: 70%;
      margin: auto;
    }
}


  .card1 {
    
    width: 90%;
    position: fixed;
    padding: 12px 7px;
    clip-path: circle(2.5% at 2.5% 14%);
    transition: all ease-in-out 0.4s;
    background-color: #ffffff;
    top: 10px;
    left: 5%;
    z-index: 11;
  }
  .card__infoicon {
    position: absolute;
    top: 10px;
    right: 28px;
    font-size: 1.4em;
    color: #000000;
    transition: ease-out 0.3s;
  }
  .card__title {
    margin: 0;
    /* font-size: 3em; */
    /* line-height: 1.8; */
    color:#000000;
  }
  .card__description {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.6;
    color: #000000;
  }
  .card__credits {
    margin: 0;
    padding: 4px 0;
    font-size: 1.1em;
    color: #000000;
  }
  .card__reference {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: #0099ff;
    text-decoration: none;
    transition: ease-in 0.3s;
  }
  .card__reference:hover {
    border-bottom-color: #0099ff;
    color: red;
  }
  .card1:hover, .card1:focus {
    clip-path: circle(75%);
    border-radius: 20px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    outline: none;
    /* margin: auto; */
  }
  .card1:hover .card__infoicon, .card1:focus .card__infoicon {
    opacity: 0;
  }
  .card1:focus {
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
  }