.container.testimonials__container{
    width: 40%;
    padding-bottom: 4rem;
}
.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}
.client__avatar img{
    width: 110%;
}
.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}
.testimonial p{
    font-weight: 100;
}
.client__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: .4rem auto 0;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}
.test__icon{
    font-size: 1.5rem;
    margin-top: 20px;
}
.test__icon a{
    margin: 0 20px;
}

/* =========== MEDIA QUERIES (MEDIUM DEVCES) ================= */
@media screen and (max-width: 1024px) {
    .container.testimonials__container{
        width: 60%;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVCES) ================= */
@media screen and (max-width: 600px) {
    .container.testimonials__container{
        width: var(--container-width-sm);
    }
    .client__review{
        width: var(--container-width-sm);
    }
}